{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h1>Регистрация</h1>
                {% for err in errors.values %}
                    <div class="alert alert-danger" >{{ err }}</div>
                {% endfor %}
            </div>
            <form method="POST" class="form-horizontal">{% csrf_token %}
                <div class="col-sm-offset-3 form-group">
                    <label class="col-sm-3 control-label">Фамилия:</label>
                    <div class="col-sm-8">
                        <input type="text" name="last_name">
                    </div>
                </div>
                <div class="col-sm-offset-3 form-group">
                    <label class="col-sm-3 control-label">Имя:</label>
                    <div class="col-sm-8">
                        <input type="text" name="first_name">
                    </div>
                </div>
                <div class="col-sm-offset-3 form-group">
                    <label class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="text" name="Email">
                    </div>
                </div>
                <div class="col-sm-offset-3 form-group">
                    <label class="col-sm-3 control-label">Логин:</label>
                    <div class="col-sm-8">
                        <input type="text" name="username">
                    </div>
                </div>
                <div class="col-sm-offset-3 form-group">
                    <label class="col-sm-3 control-label">Пароль:</label>
                    <div class="col-sm-8">
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="col-sm-offset-3 form-group">
                    <label class="col-sm-3 control-label">Повторите ввод:</label>
                    <div class="col-sm-8">
                        <input type="password" name="password2">
                    </div>
                </div>
                <button style="text-align:center" class="col-sm-offset-3 col-sm-2 btn btn-primary  control-label" type="submit">Зарегистрировать​</button>
            </form>
        </div>
    </div>
{% endblock %}
