{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <form method="POST" class="form-horizontal">
                <h1 style="text-align:center">Вход</h1>
                {% csrf_token %}
                {% for f in form %}
                    {% for error in f.errors %}
                        <div class="alert " role="alert">{{ f.errors }}</div>
                    {% endfor %}
                {% endfor %}
                {% for f in form %}
                    <div class="form-group">
                        <label for="{{ f.id_for_label }}" class="col-sm-3 control-label">{{ f.label }}:</label>
                        <div class="col-sm-9">
                            {{ f }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button  style="text-align:center" class="col-sm-1 btn-primary control-label" type="submit">Войти</button>
                        <input style="text-align:center" class="col-sm-3  col-sm-offset-1  btn-primary control-label"
                               type="button"  value="Зарегистрироваться" onClick='location.href="/registration_1"'>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}